

/* BASE STYLES & MOBILE SCREEN LAYOUT*/

html {
  min-height: 100vh;
  background-image: linear-gradient(#af67e9, #6565e7);
}

body {
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
}

.container {
  width: 328px;
  height: 536px;
  background: #fff;
  position: absolute;
  border-radius: 25px;
  margin-top: 146px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15), 0 8px 26px 20px rgba(0, 0, 0, 0.1);
}

button {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 13px;
  min-width: 100%;
  background: none;
  padding: 0;
  border: none;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: solid 1px #e7e7e9;
  text-align: left;
  color: #4a4b5e;
  height: 52px;
}

button:focus {
  outline: 0;
  font-weight: bold;
  /* color: #f47c57; */
}
/* focus can be changed to the above colour instead of font-weight bold, or removed altogether(not preferred) */

.panel {
  display: none;
  margin-top: -20px;
  padding-right: 20px;
  border-bottom: solid 1px #e7e7e9;
    line-height: 1.5;
}

p {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  text-align: left;
  color: #787887;
}

.question:hover {
  color: #f47c57;
  font-weight: bold;
}

.active {
  font-weight: bold;
  color: #1d1e35;
  border-bottom: none;
}

.question:after {
  content: url("images/icon-arrow-down.svg");
  float: right;
}

.active:after {
  transform: rotate(180deg);
}

.patternMobile, .imageMobile, .patternDesktop, .imageDesktop, .boxDesktop {
  position: absolute;
}

.imageMobile {
  margin: -108px 16px;
}

.patternMobile {
  margin: 0 44px;
}

.patternDesktop, .imageDesktop, .boxDesktop {
  display: none;
}

.questionsBox {
  margin: 43% 8%;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: #1d1e35;
  margin-bottom: 12px;
}


@media only screen and (min-width: 1200px) {
  .container {
    width: 922px;
    height: 510px;
    margin-top: 130px;
    margin-left: 40px;
    overflow: hidden;
  }

  .imageBox {
    margin: 0;
    width: 461px;
    float: left;

  }

  .questionsBox {
    margin:0;
    width: 441px;
    padding-top:50px;
    padding-left:40px;
    float: right;
  }
  h1{
    text-align: left;
    margin-bottom: 20px;
  }
  button {
    font-size: 14px;
    min-width: 79%;
  }

  .panel {
    display: none;
    margin-top: -20px;
    margin-right: 21%;
  }

  .question:after {
    margin-right: 15px;
  }

  .patternMobile, .imageMobile {
    display: none;
  }

  .patternDesktop, .imageDesktop, .boxDesktop {
    display: block;
  }

  .patternDesktop {
    margin: -295px -575px;

  }

  .imageDesktop {
    margin: 72px -80px;

  }

  .boxDesktop {
    z-index: 1;
      margin: 340px -438px;
  }
}
